.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.word-hug {
  padding-top: 1rem;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

.position-fixed {
  position: fixed;
}

.position-relative {
  position: relative;
}

.height-50 {
  height: 50%;
}

.text-align-right {
  text-align: right;
}

.justify-content-right {
  justify-content: right;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .word-hug {
    padding-top: 0;
    position: relative;
    bottom: 2rem;
  }

  .list-img {
    padding-bottom: 2rem;
  }
}
